body {
  background-color: #d8f3dc;
  font-family: 'Droid Serif', serif;
  font-size: 15px;
}

h1 {
  font-size: 35px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #081c15;
  font-family: 'Roboto', sans-serif;

  /* font-size: 35px;font-size */
}

textarea {
  width: 100%;
}

.text-center {
  text-align: center;
}

.margin-top-10 {
  margin-top: 10rem;
}

.margin-1 {
  margin: 1rem;
}

.flex-center {
  justify-content: center;
  align-content: center;
}

.flex-end {
  justify-content: flex-end;
}

.add-entry {
  letter-spacing: 0.1rem;
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  font-weight: bold;
  color: white;
  border-style: none;
  border-radius: 5px;
  padding: 1rem 3rem;
  background-color: #40916c;
  transition: 0.5s;
}

.submit {
  margin-top: 1rem;
  letter-spacing: 0.1rem;
  font-family: 'Roboto', sans-serif;
  font-size: 0.75rem;
  font-weight: bold;
  color: white;
  border-style: none;
  border-radius: 5px;
  padding: 0.5rem 1.5rem;
  background-color: #2d6a4f;
  transition: 0.5s;
}

.add-entry:hover {
  background-color: #52b788;
  cursor: pointer;
}

.overlay {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.5);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.dialogue {
  background-color: white;
  height: 45vh;
  width: 55vw;
  margin: 20vh auto;
  padding: 2rem;
}
